* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: #222;
  color: white;
}

#navbar {
  background: #444;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#navbar.left {}

#navbar .right {}

#navbar .link {
  margin: 0 0.5rem;
}

#navbar .link.active {
  text-decoration: underline;
}

.link {
  color: cyan;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: violet;
}

.btn {
  border: solid 1px cyan;
  text-decoration: none;
  color: cyan;
  background-color: #222;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.btn:hover {
  border: solid 1px cyan;
  color: #222;
  background-color: cyan;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}